.copyrights{
margin-top:25px;
}

.container-fluid.text-center.foot {
    background: #383838;
   

}

.dark-line{
border-top: 1px solid #525252;
}

.white-txt{
color: #FFF;
}


a.link {
    color: #008acc;
    border: 1px #008acc solid;
    padding: 5px;
    text-decoration: none;
}

a.link:hover {
background: #008acc;
    color: #383838;
}

.footimg{
width: 10rem;
}